body{
    overflow: hidden;
    margin: 0;
}

button {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    /* background-color: #fff; */
    background-size: 100% auto;
    background-image: url(assert/changeCam.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    transition-duration: 0.5s;
}

p{
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 30px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    /* opacity: 0.4; */
    padding-top: 13px;
    /* padding-bottom: 13px; */
}
