body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    right: 0;
    background-color: #f7f7f7;
    line-height: 50px;
    vertical-align: middle;
    z-index: 0;
}

#btn-run{
    position: absolute;
    height: 30px;
    width: 50px;
    top: 10px;
    left: 20px;
    font-weight: bold;
}

#header{
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #252525;
    display: inline-block;
}

#type-container {
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 50px;
    left: 0;
    width: 50%;
    height: 100%;
    right: 0;
    display: block;
    transition: 0.2s;
    z-index: 0;
}

#run-container{
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 50px;
    right: 0;
    width: 50%;
    height: 100%;
    right: 0;
    display: block;
    transition: 0.2s;
    z-index: 0;
    background-color: #fff;
}